# Ignore all compiled binary executables and build cache lanes
build/
bin/
*.exe
*.o
*.obj
*.out
moneud
moneu-cli
qmask_*

# Ignore local wallet keys and database transaction sheets
*.dat
.idea/
.vscode/
.git/
